<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>thymeleaf layout</title>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<style>
td > a {
    color:black;
}

.simpleJoin {
    border: black 1px solid;
}

.pwd_area {
    height:900px;
    width: 100%;
}

.pwd_find_area {
    padding-left: 26%;
}

</style>

<script th:inline="javascript">
    function certification(num) 
    {
        // 팝업창 정중앙 위치하도록 설정
        let popupWidth = 550;
        let popupHeight = 200;

        let popupX = (window.screen.width / 2) - (popupWidth / 2);
        let popupY = (window.screen.height / 2) - (popupHeight / 2);

        
        let url = "";
        let target = "popup";
        let option = 'width='+popupWidth+', height='+popupHeight+', top='+popupY+', left='+popupX+', resizable=no';
        const chkForm = document.getElementById('chk_form');
        
        if(num == 1)
            url = "./findPhone";
        else
            url = "./findEmail";


        //chkForm.arg1.value =  "pwd";
        
        let wnd = window.open(url, target, option);
        
        chkForm.action = url;
        chkForm.target = target;
        chkForm.submit();
    }
</script>

<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <!-- Hero Section Begin -->
   <th:block th:replace="fragments/hero :: heroFragment"></th:block>
   <!-- Hero Section End -->
    <section class="hero">
        <div class="container">
            <!-- <div class="col-lg-9"> -->
            <div class="pwd_area">
                <div class="pwd_find_area">
                    <div style="text-align:center; border:1px solid rgb(71, 71, 71); height: 600px;">
                        <br><br>
                        <h3 style="color: #7fad39;"><b>비밀번호 찾기</b></h3>
                        <br><br>
                        <h5>본인인증방식 선택</h5>
                        <form id="chk_form" method="post" action="">
                            <div style="display: flex;justify-content: center; padding:50px 50px 50px 50px;">
                                <button type="submit" class="site-btn" onclick="certification(1);">핸드폰인증</button>&emsp;
                                <button type="submit" class="site-btn" onclick="certification(2);">이메일인증</button>
                            </div>
                        </form>
                        <div class="hero__item set-bg" style="height:150px;">
                            <div class="hero__text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center;">

        </div>
    </section>
    <!-- Hero Section End -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>