<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<style>
td > a {
    color:black;
}

.simpleJoin {
    border: black 1px solid;
}

</style>

<script th:inline="javascript">
    function certification(num) 
    {
        // 팝업창 정중앙 위치하도록 설정
        let popupWidth = 500;
        let popupHeight = 200;

        let popupX = (window.screen.width / 2) - (popupWidth / 2);
        let popupY = (window.screen.height / 2) - (popupHeight / 2);

        let url = "./findPhone";
        let target = "popup";
        let option = 'width='+popupWidth+', height='+popupHeight+', top='+popupY+', left='+popupX+', resizable=no';
        const chkForm = document.getElementById('chk_form');

        wnd = window.open(url, target, option);

        chkForm.action = url;
        chkForm.target = target;
        chkForm.submit();
    }
</script>

<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">Fresh Meat</a></li>
                            <li><a href="#">Vegetables</a></li>
                            <li><a href="#">Fruit & Nut Gifts</a></li>
                            <li><a href="#">Fresh Berries</a></li>
                            <li><a href="#">Ocean Foods</a></li>
                            <li><a href="#">Butter & Eggs</a></li>
                            <li><a href="#">Fastfood</a></li>
                            <li><a href="#">Fresh Onion</a></li>
                            <li><a href="#">Papayaya & Crisps</a></li>
                            <li><a href="#">Oatmeal</a></li>
                            <li><a href="#">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form name="findIdForm" action="#" method="post">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center; border:1px solid rgb(71, 71, 71); height: 600px;">
                        <br><br>
                        <h3 style="color: #7fad39;"><b>아이디 찾기</b></h3>
                        <br><br>
                        <h5>본인인증방식 선택</h5>
                        <form id="chk_form" method="post" action="">
                            <div style="display: flex;justify-content: center; padding:50px 50px 50px 50px;">
                                <button type="button" class="site-btn" onclick="certification(1);">핸드폰인증</button>&emsp;
                                <!-- 아이디가 이메일이라 아이디 찾기는 핸드폰만 진행하기 -->
                                <!-- <button type="submit" class="site-btn" onclick="certification(2);">이메일인증</button> -->
                            </div>
                            <div class="hero__item set-bg" style="height:150px;">
                                <div class="hero__text"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center;">

        </div>
    </section>
    <!-- Hero Section End -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>