<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <title>문의글 작성</title>
  <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
</head>
<style>
    .container {
        margin-left:auto; 
        margin-bottom:auto;
      }

    .sub_title {
        font-size:15px;
        font-weight:bold;
    }

    .main_title {
        font-size:30px;
        font-weight:bold;
    }

    .non_border {
        border:none;
    }

    .text_area {
        height:900px;
        width: 100%;
    }
    
    .inquiry_text_area {
        padding-left: 26%;
    }
</style>
<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <!-- Hero Section Begin -->
   <th:block th:replace="fragments/hero :: heroFragment"></th:block>
   <!-- Hero Section End -->    
    <section class="hero">
        <div class="container">
            <!-- <div class="col-lg-9"> -->
            <div class="text_area">
                <div class="inquiry_text_area">
                    <div class="breadCrumb-wrapper sub">
                        <span class="main_title" style="font-size:17px;">문의</span>
                        <hr style="border:0; height:2px;background: #959595;"/>
                    </div>
                    <div class="hero_list non_border">
                        <div class="viewExp non_border">
                            <div class="sub_title">
                                <select id="inquiry_div">
                                    <option value="">문의종류</option>
                                    <option value="A">결재</option>
                                    <option value="B">예약</option>
                                    <option value="C">기타</option>
                                </select>
                            </div><br><br><br>
                            <div class="sub_title">제목</div><input type="text" id="inquiry_title" placeholder="제목을 입력하세요" style="margin: 10px 0 10px 0; border:#a5a5a5 1px solid;"><br>
                            <div class="sub_title"></div><textarea id="inquiry_content" rows="10" cols="80" style="margin: 10px 0 10px 0; border:#a5a5a5 1px solid;"></textarea><br>
                            <div class="sub_title">첨부파일</div><input type="file" style="margin: 10px 0 10px 0;">
                            <div class="sub_title">비밀글체크&emsp;<input type="checkbox" style="margin: 10px 0 10px 0;"></div>
                        </div>
                        <hr style="border:0; height:2px;background: #959595;"/>
                        <div class="bottombox">
                            <input type="button" value="등록" class="btn-black" onclick="submit('INSERT')">
                            <input type="button" value="수정" class="btn-black" onclick="submit('UPDATE')">
                            <input type="button" value="삭제" class="btn-black" onclick="submit('DELETE')">
                            <input type="button" value="목록" class="btn-black" onclick="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align:center;">

        </div>
    </section>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    
</body>
<script>
    function submit(mode)
    {
        if(mode != 'DELETE')
        {
            const inquiry_content = document.getElementById('inquiry_content');
            const inquiry_title = document.getElementById('inquiry_title');
            const inquiry_div = document.getElementById('inquiry_div');
            if(!inquiry_div.value)
            {
                alert('문의 구분을 선택하세요.');
                inquiry_div.focus();
            }
            else if(!inquiry_title.value)
            {
                alert('제목을 입력하세요.');
                inquiry_title.focus();
            }
            else if(!inquiry_content.value)
            {
                alert('문의내용을 입력하세요.');
                inquiry_content.focus();
            }
        }

        // 등록
        if(mode === 'INSERT')
        {

        }else if(mode === 'UPDATE')
        {

        }else if(mode === 'DELETE')
        {
            if(confirm('정말 삭제하시겠습니까?') === false)
            {
                return false;
            }
        }else
        {

        }
    }
</script>
</html>