<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>thymeleaf layout</title>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<style>
td > a {
    color:black;
}

.simpleJoin {
    border: black 1px solid;
}

</style>
<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <th:block th:replace="fragments/hero :: heroFragment"></th:block>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div style="text-align:center; border:1px solid rgb(71, 71, 71); height: 600px;">
                        <br><br>
                        <h2 style="color: #7fad39;"><b>CAMGO</b></h2>
                        <br>
                        <div style="display: flex;justify-content: center;">
                            <table id="info_explain" style="text-align: center;">
                                <tr>
                                    <td style="text-align:center;"><input type="text" size="30" placeholder="아이디"/></td>
                                    <td rowspan="2"><div style="background-color: yellowgreen; width: 60px; height: 60px; text-align: center; line-height: 4;">로그인</div></td>
                                </tr>
                                <tr>
                                    <td><input type="password" size="30" placeholder="비밀번호"/></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center; "><a href="/findId">아이디 찾기 | </a><a href="/findPw">비밀번호 찾기 | </a><a href="#">회원가입</a></td>
                                </tr>
                            </table>
                        </div>
                        <div style="padding:30px 30px 30px 30px;">
                            <span class="simpleJoin">네이버 간편회원가입</span>&emsp;<span class="simpleJoin">카카오 간편회원가입</span><br><br>
                            <span class="simpleJoin">네이버 간편회원가입</span>&emsp;<span class="simpleJoin">카카오 간편회원가입</span>
                        </div>
                        <div>
                        </div>
                        <div class="hero__item set-bg" style="height:150px;">
                            <div class="hero__text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center;">

        </div>
    </section>
    <!-- Hero Section End -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>