<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<style>
    .bottombox{
        text-align: center;
    }
</style>

<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <section class="hero">
        <div class="container">
            <div class="info_area">
                <div class="info_text_area">
                    <div class="member_info">
                        <span>공지사항</span>
                    </div>
                    <div class="hero_list">
                        <div class="viewExp">
                            <tr>
                                <td>
                                    <span style="color: black;">추가 문의드립니다.</span>
                                </td>
                            </tr>
                        </div>
                        <div class="content">
                            <div class="viewContents" style="height: 400px;">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                        <hr>             
                        <div class="bottombox">
                            <input type="submit" value="수정" class="btn-black">
                            <input type="submit" value="삭제" class="btn-black">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>