<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="campingReviewFragment">

    <table width="100%">
        <tr>
            <td style="font-size:18px;font-weight:bold;">ReviewTitle</td>
        </tr>
        <tr>
            <td style="font-size:11px;color:gray;">Writer_Id</td>
        </tr>
        <tr>
            <td>
                <div style="color:#EDBB0E">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i>&nbsp;4.5&nbsp;</i>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <img src="img/product/product-2.jpg">
                </div>
            </td>
        </tr>
        <tr>
            <td style="font-size:15px;">
                contents contents<br>
                contents contents<br>
                contents contents<br>
                contents contents<br>
            </td>
        </tr>
    </table>
    <hr class="division"></hr>
</html>