<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="campingQandAFragment">

        <table width="100%">
            <tr>
                <td>
                    <div style="font-size:18px;font-weight:bold;float:left;">문의제목</div>
                    <div style="font-size:11px;float:right;margin-right:3px;">비밀글</div>
                </td>
            </tr>
            <tr>
                <td style="font-size:11px;color:gray;">아이디 (나)</td>
            </tr>
            <tr>
                <td style="padding-top:5px;font-size:15px;">
                    문의내용 문의내용 문의내용<br>
                    문의내용 문의내용 문의내용<br>
                </td>
            </tr>
            <tr>
                <td text-align="center">
                    <table width="98%" style="margin-top:5px;background-color:#fff4e0;">
                        <tr>
                            <td style="padding-left:10px;font-size:16px;font-weight:bold;float:left;">
                                답변
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:10px;font-size:10px;color:gray;">
                                답변자 아이디
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top:4px;padding-left:10px;font-size:14px;">
                                답변내용
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr class="division"></hr>

</html>