<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="campingInfoFragment">

    <div style="margin-top:25px;margin-bottom:5px"><b>운영형태</b></div>
    <table width="100%" class="table table-bordered">
        <thead>
            <tr>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>오토캠핑</td>
                <td>V</td>
                <td>카라반</td>
                <td></td>
                <td>글램핑</td>
                <td>V</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" class="table table-bordered">
        <div style="margin-top:25px;margin-bottom:5px"><b>편의시설</b></div>
        <thead>
            <tr>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>공용화장실</td>
                <td>V</td>
                <td>개별샤워실</td>
                <td></td>
                <td>공용화장실</td>
                <td>V</td>
                <td>개별화장실</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div style="margin-top:25px;margin-bottom:5px"><b>이용가능</b></div>
    <table width="100%" class="table table-bordered">
        <thead>
            <tr>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
                <th>항목</th>
                <th>여부</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>놀이시설</td>
                <td>V</td>
                <td>수영장</td>
                <td></td>
                <td>애견동반</td>
                <td>V</td>
                <td>산책로</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div width="100%" style="background-color:#7474745e;height:1px;margin-top:40px;margin-bottom:40px"></div>
    <table>
        <tr>
            <th>알립니다</th>
        </tr>
        <tr>
            <td>
                ㅁ 입실시간 안내<br>
                입실시간 : 13:00 ~ 19:00<br>
                퇴실시간 : 11:00<br><br>

                - 캠핑장 내 전 지역 금연구역입니다.<br>
                - 캠핑장 내 차량은 시속 20Km 이하로 서행하시고, 늦은 시간에는 차량 이동 자제를 부탁드립니다.<br>
                - 폭죽, 풍등 사용 불가. (화재 위험)<br>
                - 밀폐된 곳에서 화로, 가스 사용 금지.(일산화탄소 중독 우려)<br>
                - 고전력의 전자 제품은 감전, 화재 위험으로 사용 불가. (사이트 당 사용량은 600Kwh 이하)<br>
                - 야외에 진드기와,벌레,야생 고양이가 많으니 개인 위생과 안전에 각별히 주의.<br>
                - CCTV 설치되어있습니다.<br>
                - 뒷정리 및 잔불 정리.<br>
                바베큐 사용 후 숯과 재는 불씨가 꺼진 것을 확인 후, 전용 숯(재) 수거함에 배출.<br>
                - 폐수는 반드시 지정된 개수대에 배출.<br>
                캠핑장 바닥에 버릴시 토양이 오염되어 악취가 발생됩니다.<br>
                -퇴실시 쓰레기를 분리수거쓰레기봉투(일반쓰레기,음식물쓰레기,재활용쓰레기)에 넣어 분리수거함에 버려주시고 주변을 깨끗이 정리해 주십시요(쓰레기봉투는 매점에서 판매합니다)<br>
                - 이용객의 소유물에 대한 유실, 피해에 대한 책임과 이용객의 부주의로 인한 사고에 대한 책임은 이용객에게 있습니다.<br>
                - 캠핑장 이용 중에 시설물을 파손시켰을 때에는 별도로 말씀해 주셔야 합니다.<br>
            </td>
        </tr>
    </table>
    
</html>