<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="optionsFragment">

    <style>
        input[type="date"] {
            width:115px;
        }

        .sidebar__item .options_list li {
            margin-bottom : 10px;
        }

        .sidebar__item .options_list li .option_detail {
            margin-top : 10px;
        }
        

		.price-range-wrap .range-slider .price-input2 {
			position: relative;
		}
		
		.price-range-wrap .range-slider .price-input2:after {
			position: absolute;
			left: 90px;
			top: 13px;
			height: 1px;
			width: 5px;
			background: #dd2222;
			content: "";
		}
		
		.price-range-wrap .range-slider .price-input2 input {
			font-size: 16px;
			color: #dd2222;
			font-weight: 700;
			max-width: 40%;
			border: none;
			display: inline-block;
		}
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", ready);

    	function ready(){
    		close_list();
    	}

        function close_list()
        {
            for(var i=0; i<document.getElementsByName("view_options_list").length; i++)
            {
                document.getElementsByName("view_options_list")[i].style.display="none";
            }
        }

        function show_list(type="")
        {
            if(document.getElementById("view_"+type).style.display=="")
            {
                document.getElementById("view_"+type).style.display="none";
            }
            else
            {
                document.getElementById("view_"+type).style.display = "";
            }
        }
        
        function ViewSelection(v)
        {
			event.stopPropagation();
			
			if(v!="1")
			{
				alert(v + "모아보기");
			}
		}
		
        
    </script>
    <div class="col-lg-3 col-md-5">
        <div class="sidebar">
            <div class="sidebar__item">
                <h4>Options</h4>
                <ul class="options_list">
                    <li>
                        <div onclick="show_list('region')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;지역 선택하기</div>
                        <div name="view_options_list" id="view_region" class="option_detail">
                            <select name="region_list" value="" onchange="" style="display:none;">
                                <option value="">choose</option>
                                <option value="1">Seoul</option>
                                <option value="2">Incheon</option>
                                <option value="3">Busan</option>
                            </select>
                            <br><br>
                            <div id="region_detail_list">
                                <select name="region_detail_list" value="">
                                    <option value="">choose</option>
                                    <option value="1">Gangnam</option>
                                    <option value="2">Mapo</option>
                                    <option value="3">Abgujeong</option>
                                    <option value="4">Guro</option>
                                </select>
                                <br><br>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div onclick="show_list('date')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;일정 선택하기</div>
                        <div class="option_detail" name="view_options_list" id="view_date">
                            시작 <input type="date" value=""><br>
                            퇴실 <input type="date" value="">
                        </div>
                    </li>
                    <li>
                        <div onclick="show_list('accommodations')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;숙박 모아보기</div>
                        <div class="option_detail" name="view_options_list" id="view_accommodations">
                            <div class="sidebar__item__size" id="1" onclick="ViewSelection(this.id);">
                                <label for="large">
                                   	캠핑
                                    <input type="radio" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size" id="2" onclick="ViewSelection(this.id);">
                                <label for="large">
                                    호텔
                                    <input type="radio" id="large">
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div onclick="show_list('place')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;장소 모아보기</div>
                        <div class="option_detail" name="view_options_list" id="view_place">
                            <div class="sidebar__item__size" id="3" onclick="ViewSelection(this.id);">
                                <label for="large">
                                    바다
                                    <input type="radio" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size" id="4" onclick="ViewSelection(this.id);">
                                <label for="large">
                                    계곡
                                    <input type="radio" id="large">
                                </label>
                            </div>
                        </div>
                        </li>
                    <li>
                        <div onclick="show_list('utility')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;옵션 모아보기</div>
                        <div class="option_detail" name="view_options_list" id="view_utility">
                            <div class="sidebar__item__size" id="5" onclick="ViewSelection(this.id);">
                                <label for="large">
                                    수영장
                                    <input type="radio" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size" id="6" onclick="ViewSelection(this.id);">
                                <label for="large">
                                    BBQ
                                    <input type="radio" id="large">
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="sidebar__item">
                <h4>금액대 별 검색</h4>
                <div class="price-range-wrap">
                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                        data-min="100000" data-max="5000000">
                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" id="min-price"></span>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" id="max-price"></span>
                    </div>
                    <div class="range-slider">
                        <div class="price-input2">
                            <input type="text" id="minamount">
                            <input type="text" id="maxamount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="latest-product__text">
                    <h4>추천여행지</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="campingdetail" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="campingdetail" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="campingdetail" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="campingdetail" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="campingdetail" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="campingdetail" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    
		let searchPrice_min = document.getElementById("min-price");
		let searchPrice_max = document.getElementById("max-price");
		
		searchPrice_min.addEventListener('mouseup', ()=> {
			alert(document.getElementById("minamount").value);
		});
		
		searchPrice_max.addEventListener('mouseup', ()=> {
			alert(document.getElementById("maxamount").value);
		});
	</script>
</html>