<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="optionsFragment">

    <style>
        input[type="date"] {
            width:115px;
        }

        .sidebar__item .options_list li {
            margin-bottom : 10px;
        }

        .sidebar__item .options_list li .option_detail {
            margin-top : 10px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", ready);

    	function ready(){
    		close_list();
    	}

        function close_list()
        {
            for(var i=0; i<document.getElementsByName("view_options_list").length; i++)
            {
                document.getElementsByName("view_options_list")[i].style.display="none";
            }
        }

        function show_list(type="")
        {
            if(document.getElementById("view_"+type).style.display=="")
            {
                document.getElementById("view_"+type).style.display="none";
            }
            else
            {
                document.getElementById("view_"+type).style.display = "";
            }
        }
        
    </script>
    <div class="col-lg-3 col-md-5">
        <div class="sidebar">
            <div class="sidebar__item">
                <h4>Options</h4>
                <ul class="options_list">
                    <li>
                        <div onclick="show_list('region')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;Region</div>
                        <div name="view_options_list" id="view_region" class="option_detail">
                            <select name="region_list" value="" onchange="" style="display:none;">
                                <option value="">choose</option>
                                <option value="1">Seoul</option>
                                <option value="2">Incheon</option>
                                <option value="3">Busan</option>
                            </select>
                            <br><br>
                            <div id="region_detail_list">
                                <select name="region_detail_list" value="">
                                    <option value="">choose</option>
                                    <option value="1">Gangnam</option>
                                    <option value="2">Mapo</option>
                                    <option value="3">Abgujeong</option>
                                    <option value="4">Guro</option>
                                </select>
                                <br><br>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div onclick="show_list('date')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;Date</div>
                        <div class="option_detail" name="view_options_list" id="view_date">
                            시작 <input type="date" value=""><br>
                            퇴실 <input type="date" value="">
                        </div>
                    </li>
                    <li>
                        <div onclick="show_list('accommodations')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;Accommodations</div>
                        <div class="option_detail" name="view_options_list" id="view_accommodations">
                            <div class="sidebar__item__size">
                                <label for="large">
                                    camping
                                    <input type="checkbox" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    hotel
                                    <input type="radio" id="large">
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div onclick="show_list('place')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;Place</div>
                        <div class="option_detail" name="view_options_list" id="view_place">
                            <div class="sidebar__item__size">
                                <label for="large">
                                    ocean
                                    <input type="checkbox" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    mountain
                                    <input type="radio" id="large">
                                </label>
                            </div>
                        </div>
                        </li>
                    <li>
                        <div onclick="show_list('utility')"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;Utility</div>
                        <div class="option_detail" name="view_options_list" id="view_utility">
                            <div class="sidebar__item__size">
                                <label for="large">
                                    pool
                                    <input type="checkbox" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    BBQ
                                    <input type="radio" id="large">
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="sidebar__item">
                <h4>Price</h4>
                <div class="price-range-wrap">
                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                        data-min="10" data-max="540">
                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                    </div>
                    <div class="range-slider">
                        <div class="price-input">
                            <input type="text" id="minamount">
                            <input type="text" id="maxamount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__item">
                <div class="latest-product__text">
                    <h4>recommend</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>