<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Camgo | index</title>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>

<body>

    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <th:block th:replace="fragments/hero :: heroFragment"></th:block>

    예약완료

    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>